# DSCI-633-2215 Lab #5 (python)
# Associate Rule Mining

## step_2: Complete two-item frequent item sets  and 
## step_3: Complete three-item frequent item sets.

### Name: Nilesh J

In [103]:
# Import all needed libraries
import pandas as pd
import itertools

In [104]:
# upload supermarket dataset -  shape is (5, 5)
df = pd.read_csv("C:/Users/niles/Desktop/Lab5 DSCI/Lab05/Supermarket.csv")
df

       0       1       2     3     4
0  Bread    Milk     NaN   NaN   NaN
1  Bread  Diaper    Beer  Eggs   NaN
2  Bread    Milk  Diaper  Beer  Coke
3  Bread  Diaper    Beer   NaN   NaN
4  Bread  Diaper    Coke   NaN   NaN

In [105]:
df.shape

(5, 5)

In [106]:
# minimum support (minSup) count
minSup = 3
records = []
for i in range(len(df)):
    records.append([str(df.values[i,j]) for j in range(len(df.columns))])
records

[['Bread', 'Milk', 'nan', 'nan', 'nan'],
 ['Bread', 'Diaper', 'Beer', 'Eggs', 'nan'],
 ['Bread', 'Milk', 'Diaper', 'Beer', 'Coke'],
 ['Bread', 'Diaper', 'Beer', 'nan', 'nan'],
 ['Bread', 'Diaper', 'Coke', 'nan', 'nan']]

In [107]:
items = sorted([item for sublist in records for item in sublist if item != 'nan'])
items

['Beer',
 'Beer',
 'Beer',
 'Bread',
 'Bread',
 'Bread',
 'Bread',
 'Bread',
 'Coke',
 'Coke',
 'Diaper',
 'Diaper',
 'Diaper',
 'Diaper',
 'Eggs',
 'Milk',
 'Milk']

In [108]:
'''
This definition is the same as Q2.1
Form the item sets containing one item. 
minSup = 60%
'''
def step_1(items, minSup):
    c1 = {i:items.count(i) for i in items}  # candidate one item set
    l1 = {} # frequent one item set
    for key, value in c1.items():
        if value >= minSup:
            l1[key] = value 
    
    return c1, l1

In [109]:
c1, l1 = step_1(items, minSup)

In [110]:
print("L1 =>", l1)

L1 => {'Beer': 3, 'Bread': 5, 'Diaper': 4}

In [111]:
'''
Q3.1

Let's form the item sets containing two items.
We only take the item sets from step_1 (Q2.1)
'''

def step_2(l1, records, minSup):
    
    # You can use your own statements than ones given below
    
    l1 = sorted(list(l1.keys()))
    L1 = list(itertools.combinations(l1, 2))
    c2 = {}
    l2 = {}
    for i in L1:
        count = 0
        for j in records:
            if sublist(i, j):
                count+=1
        c2[i] = count
    for key, value in c2.items():
        if value >= minSup:
            if frequency_check(key, l1, 1):
                l2[key] = value
    return c2, l2  # candidate and frequent two item sets

In [97]:
c2, l2 = step_2(l1, records, minSup)
print("L2 =>", l2)

L2 => {('Beer', 'Bread'): 3, ('Beer', 'Diaper'): 3, ('Bread', 'Diaper'): 4}

In [98]:
'''
Q3.2

Let's for the item sets containing three items from step_2 (Q2.2)
'''
def step_3(l2, records, minSup):
    
    # You can use your own statements than ones given below
    
    l2 = list(l2.keys())
    L2 = sorted(list(set([item for t in l2 for item in t])))
    L2 = list(itertools.combinations(L2, 3))
    c3 = {}
    l3 = {}
    for i in L2:
        count = 0
        for j in records:
            if sublist(i,j):
                count+=1
        c3[i] = count
    for key, value in c3.items():
        if value >= minSup:
            if frequency_check(key,l2,2):
                l3[key] = value
    
    
    
    
    
        
    return c3, l3  # candidate and frequent three item sets

In [102]:
c3, l3 = step_3(l2, records, minSup)
print("L3 =>", l3)

L3 => {('Beer', 'Bread', 'Diaper'): 3}

In [112]:
#pls run thsi first, and then check rules. Ty.
def frequency_check(p, q, r):
    if r>1:    
        subsets = list(itertools.combinations(p, r))
    else:
        subsets = p
    for i in subsets:
        if not i in q:
            return False
    return True

In [101]:
def sublist(k, l):
    return set(k) <= set(l)